div#game {
	border:1px solid black;
	width:400px;
	height:540px;
	position:relative;
	float:left;
	margin:10px 10px 10px 0;
	background:#eee;
}
div#right{
	margin:10px 0 10px 10px;
	float:left;
}
div#preview {
	position:relative;
}
div.block {
	position:absolute;
	opacity:0.0;
}
div.block.active {
	border:1px solid black;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	opacity:1.0;
}
hr {
	clear:left;
}
